.left {
  background-color: gray;
}
#beka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.train {
  /* height: 20px;
  width: 20px;
  background-color: blue; */
  position: absolute;
  top: 0;
  left: 0;
  animation: mowyt 10s linear infinite;
}
@keyframes mowyt {
  0% {
    top: 1vh;
    left: 1vw;
  }
  25% {
    top: 1vh;
    left: 40vw;
    rotate: 90deg;
  }
  50% {
    top: 97vh;
    left: 40vw;
    rotate: 180deg;
  }
  75% {
    top: 80vh;
    left: 1vw;
    rotate: 270deg;
  }
  100% {
    top: 1vh;
    left: 1vw;
    rotate: 360deg;
  }
}

.dvd-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.dvd {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("images/disc.png"); /* Zamień na ścieżkę do swojego obrazu */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.2);
}
